<div class="col-md-3 col-sm-6">
    <div class="container">
        <h2>{{team.country}}</h2>
        <h4><span>Fifa code: </span> {{team.fifa_code}}</h4>
        <h4><span>Group letter: </span> {{team.group_letter}}</h4>
        <h4><span>Games played: </span> {{team.games_played}}</h4>
        <h4><span>Wins: </span> {{team.wins}}</h4>
        <h4><span>Draws: </span> {{team.draws}}</h4>
        <h4><span>Losses: </span> {{team.losses}}</h4>
        <h4><span>Goals for: </span> {{team.goals_for}}</h4>
        <h4><span>Goals against: </span> {{team.goals_against}}</h4>
    </div>
</div>